header {
    background-image: url(img/pattern.png);
    background-color: rgb(50, 118, 245);
    background-size: 400px;
    height: 100px;
}

#logo {
    width: 200px;
    height: auto;
    margin-top: 40px;
}