header {
    background-image: url(img/pattern.png);
    background-color: rgb(50, 118, 245);
    background-size: 400px;
    height: 100px;
}

#logo {
    width: 200px;
    height: auto;
    margin-top: 40px;
}

h1 {
    margin-bottom: 0px;
}

#Autore {
    color: rgb(63, 124, 245);
}

.evidenziato {
    background-color: yellow;
}

.raw-left, .raw-center {
    width: 300px;
}

th {
    text-align: left;
    background-color: rgb(53, 128, 249);
    color: white;
}

.blue {
    background-color: rgb(78, 202, 254);
}